body{
    background-image: url(https://i.pinimg.com/originals/76/f7/0f/76f70facceae2c56ba1ba99a60c21308.jpg);
    background-image:cover;
    }
    .class-well1{
        padding: 0%;
    margin: 10px;
    }
    img {
        background: cover;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }
      
      img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }
      .class-col-sm-3{
          width: 100%;
          background-size: cover;
      }
    img:hover {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    
    .flowers .col-sm-2 img {
        width: 200px;
        height: 200px;
    }
    
    .form-container {
        width: 400px;
        margin: auto;
        display: block;
    }
    
    .spacing {
        margin: 50px 0;
    }
    .navbar{
        background-color:rgb(8, 224, 231);
    }
    /* Add a gray background color and some padding to the footer */
    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }
    
    .carousel-inner img {
        width: 100%;
        /* Set width to 100% */
        min-height: 200px;
    }
    
    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
        .carousel-caption {
            display: none;
        }
    }
    .item button, .item h4{
        display: inline;
    }
    
    
    .carousel-item{
        height: 300px;
        width: 100%;
    }
    /*.form-group-form-check {
        margin-left: 0%;
        height: 200px;
        width: 150px;
    }*/
    
    